{{#if showFooter}}
  <div class="wrap">
    <div class="flexbox">
      <div class="first-box">
        <div class="heading">
					<img src="{{logo}}" alt="logo">
        </div>
				<div class="social">
          {{#each socialLinks as |link|}}
            <a class="social-link {{link.className}}" title="{{link.title}}" target="{{link.target}}" href="{{link.href}}">{{d-icon link.icon}}</a>
          {{/each}}
        </div>
      </div>
      <div class="third-box">
        <div class="footer-links">
          {{#each smallLinks as |link|}}
            <a class="small-link {{link.className}}" title="{{link.title}}" target="{{link.target}}" href="{{link.href}}">{{link.text}}</a>
          {{/each}}
        </div>
      </div>
			<div class="third-box">
				<div style="text-align:center;color:white">
					Powered by Sharewoods
				</div>
			</div>
    </div>
  </div>
{{/if}}
